*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar ul{
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: fixed;

  width: 100vw;

  background-color: rgb(255, 255, 255);
}

.navbar ul li{
  width: 100%;
}

.navbar ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  color: rgb(97, 78, 138);

}

.navbar ul li a:hover{
  width: 100%;
  height: 2rem;
  background-color: rgba(97, 78, 138, 0.50);
}

.navbar ul li a::after{
  transition: 0.3s ease letter-spacing;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: #8E2DE2;
  background: radial-gradient(#6b3996, #2a0770);
  color: rgb(255, 255, 255);
}
.container .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: auto;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.90);
  color: rgb(97, 78, 138);
}
.container .box h1 {
  margin: 1.2rem;
}

.resposta label{
  cursor: pointer;
  margin-right: 2rem;
}

.container .box .resposta {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;

}

.resposta .resTrue input:checked{
  appearance: none;
  width: 0.5rem;
  height: 0.7rem;
  border-right: solid rgb(97, 78, 138);
  border-bottom: solid rgb(97, 78, 138);
  transform: rotate(45deg);
  transition: all 300ms ease-in-out;
}

.resposta .resFalse input:checked{
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: solid rgb(255, 0, 0);
  transition: all 300ms ease-in-out;
}

.btn-resultado{
  position: fixed;
  bottom: 15px;
  right: -72px;
  background-color: rgba(255, 255, 255, 0.90);
  border: solid 1px rgba(255, 255, 255, 0.90);
  border-width: 1.5rem;
  border-radius: 1rem;
  color: rgb(97, 78, 138);
}

.btn-resultado:hover{
  position: fixed;
  border-width: 1.5rem;
  border-radius: 1rem 0  0 1rem;
  color: rgb(97, 78, 138);
  animation:slide-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}


@keyframes slide-left{
  0% {
            transform: translateX(0);
  }
  100% {
            transform: translateX(-65px);
  }
}

@keyframes slide-bottom {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(100px);
  }
}
